/***********
 ** TOKEN **
 ***********/

.map .token{
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 15%;
  left: 0;
}

.map .token .head{
  display: inline-block;
  position: absolute;
  width: 40%;
  height: 30%;
  background-color: #EAC086;
  left: 30%;
  top: 0;
  border-radius: 4px;
}
.map .token.facing_S .head .hair,
.map .token.facing_E .head .hair,
.map .token.facing_W .head .hair{
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 30%;
  background-color: #000;
  left: 0;
  top: 0;
}
.map .token.facing_E .head .hair:before{
  content: " ";
  display: inline-block;
  position: absolute;
  width: 40%;
  height: 400%;
  background-color: #000;
  left: 0;
  top: 0;
}
.map .token.facing_W .head .hair:before{
  content: " ";
  display: inline-block;
  position: absolute;
  width: 40%;
  height: 400%;
  background-color: #000;
  right: 0;
  top: 0;
}
.map .token.facing_N .head .hair{
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  left: 0;
  top: 0;
  border-radius: 4px;
}
.map .token .head .eyes{
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 33%;
  left: 0;
  top: 40%;
}
.map .token.facing_S .head .eyes:before{
  display: inline-block;
  content: " ";
  position: absolute;
  width: 20%;
  height: 100%;
  background-color: #000;
  left: 20%;
  top: 0;
}
.map .token.facing_E .head .eyes:before{
  display: inline-block;
  content: " ";
  position: absolute;
  width: 20%;
  height: 100%;
  background-color: #000;
  right: 0;
  top: 0;
}
.map .token.facing_S .head .eyes:after{
  display: inline-block;
  content: " ";
  position: absolute;
  width: 20%;
  height: 100%;
  background-color: #000;
  right: 20%;
  top: 0;
}
.map .token.facing_W .head .eyes:after{
  display: inline-block;
  content: " ";
  position: absolute;
  width: 20%;
  height: 100%;
  background-color: #000;
  left: 0;
  top: 0;
}
.map .token .neck{
  display: inline-block;
  position: absolute;
  width: 20%;
  height: 5%;
  background-color: #EAC086;
  left: 40%;
  top: 30%;
}
.map .token .torso{
  display: inline-block;
  position: absolute;
  width: 50%;
  height: 45%;
  background-color: #00f;
  left: 25%;
  bottom: 20%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.map .token.facing_E .torso,
.map .token.facing_W .torso{
  width: 40%;
  left: 30%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.map .token.facing_S .arm.left,
.map .token.facing_N .arm.left{
  display: inline-block;
  position: absolute;
  width: 20%;
  height: 35%;
  background-color: #EAC086;
  top: 40%;
  left: 15%;
  transform: rotate(20deg);
  transform-origin: 0 0;
  border-radius: 4px;
  border-top-right-radius: 0;
}
.map .token.facing_W .arm.left{
  display: inline-block;
  position: absolute;
  width: 20%;
  height: 35%;
  background-color: #EAC086;
  top: 40%;
  left: 40%;
  border-radius: 4px;
}
.map .token.facing_S .arm.right,
.map .token.facing_N .arm.right{
  display: inline-block;
  position: absolute;
  width: 20%;
  height: 35%;
  background-color: #EAC086;
  top: 35%;
  right: 15%;
  transform: rotate(-20deg);
  transform-origin: 100% 0;
  border-radius: 4px;
  border-top-left-radius: 0;
}
.map .token.facing_E .arm.right{
  display: inline-block;
  position: absolute;
  width: 20%;
  height: 35%;
  background-color: #EAC086;
  top: 40%;
  left: 40%;
  border-radius: 4px;
}
.map .token.facing_S .leg.left,
.map .token.facing_N .leg.left{
  display: inline-block;
  position: absolute;
  width: 20%;
  height: 20%;
  background-color: #EAC086;
  bottom: 0;
  left: 25%;
}
.map .token.facing_W .leg.left{
  display: inline-block;
  position: absolute;
  width: 20%;
  height: 20%;
  background-color: #EAC086;
  bottom: 0;
  left: 40%;
}
.map .token.facing_S .leg.right,
.map .token.facing_N .leg.right{
  display: inline-block;
  position: absolute;
  width: 20%;
  height: 20%;
  background-color: #EAC086;
  bottom: 0;
  right: 25%;
}
.map .token.facing_E .leg.right{
  display: inline-block;
  position: absolute;
  width: 20%;
  height: 20%;
  background-color: #EAC086;
  bottom: 0;
  left: 40%;
}
